@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-spotify-base text-white font-sans;
  }
}

/* Scrollbar Spotify */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

/* Custom Seek Slider Range Input */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #4d4d4d;
  border-radius: 9999px;
  height: 4px;
  outline: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0;
  transition: opacity 0.15s ease-in-out, transform 0.1s ease-in-out;
}

.group:hover input[type="range"]::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb {
  opacity: 1;
}

.group:hover input[type="range"] {
  background: #1db954;
}
